{% extends "layout.html" %}
{%block content %}
    <h3>Past Reviews</h3>
    {% for entry in entries %}
        <p class="review">
            Course: {{ entry.name }}<br>Course Number: {{ entry.number }}<br>Department: {{ entry.dept}} 
            <br>Term: {{ entry.quarter }} {{ entry.year }}
            <br>Instructor: {{ entry.instructor}}
	    <br>Rating: {% for i in range(entry.rating) %}&#9733{% endfor %}<br>
	    Comments: {{ entry.review }}
        </p>
        <a href="{{ url_for('update', entry=loop.index) }}">
            <button class=update>Update Review</button>
        </a>
    {% endfor %}
    <br>
    <br><br>
    <a href="{{ url_for('index') }}">
        <button class=return>Home</button>
    </a>
{% endblock %}
