{% extends "layout.html" %}
{% block content %}
    <h2>Update Review</h2>
    <form action="{{ url_for('update') }}" method=post data-id="{{ id }}">
	<p class="heading">Course Name: <input type=text value="{{ entry.name }}" name=name></p>
	<p class="heading">Course Number: <input type=text value="{{ entry.number }}"name=number></p>
    <p class="heading">Department <input type=text value="{{ entry.dept }}" name=dept></p>
    <p class="heading">Quarter <input type=text value="{{ entry.quarter }}" name=quarter></p>
    <p class="heading">Year <input type="number" min="2000" max="2021" value="{{ entry.year }}" name=year></p>
    <p class="heading">Instructor <input type=text value="{{ entry.instructor }}" name=instructor></p>
    <p class="heading">Rating
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
            {% if entry.rating == 1 %}
                1<input type="radio" name="rating" value="1" autocomplete="off" checked>
            {% else %}
                1<input type="radio" name="rating" value="1" autocomplete="off">
            {% endif %}
            </label>
            <label class="btn btn-secondary">
            {% if entry.rating == 2 %}
                2<input type="radio" name="rating" value="1" autocomplete="off" checked>
            {% else %}
                2<input type="radio" name="rating" value="1" autocomplete="off">
            {% endif %}
            </label>
            <label class="btn btn-secondary">
            {% if entry.rating == 3 %}
                3<input type="radio" name="rating" value="1" autocomplete="off" checked>
            {% else %}
                3<input type="radio" name="rating" value="1" autocomplete="off">
            {% endif %}
            </label>
            <label class="btn btn-secondary">
            {% if entry.rating == 4 %}
                4<input type="radio" name="rating" value="1" autocomplete="off" checked>
            {% else %}
                4<input type="radio" name="rating" value="1" autocomplete="off">
            {% endif %}
            </label>
            <label class="btn btn-secondary">
            {% if entry.rating == 5 %}
                5<input type="radio" name="rating" value="1" autocomplete="off" checked>
            {% else %}
                5<input type="radio" name="rating" value="1" autocomplete="off">
            {% endif %}
            </label>
            </div>
    </p>
    <p class="heading">Review:
	<textarea rows=5 cols=50 name=review value="{{ entry.review }}" required></textarea></p>
	<p><input type=submit value='Update Review'></p>
    </form>
    <a href="{{ url_for('index')}}">
        <button class=return>Home</button>
    </a>
{% endblock %}