body       { font-family: "serif"; font-size: 20px; color: #000b83;}
a, h1, h2  { color: #030305; text-align: center;}
.heading  { font-weight: bold; }
.page      { margin:.1em auto; 
             padding:.7em; 
             width: 90%; 
             border-color: #030305; 
             border-width: 5px; 
             border-style: double; }
.entry     { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; }
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
h3, h4         { text-align: center;}
button      { border-width: 2px; 
              border-style: solid;
              border-color: darkblue; 
              border-radius: 5%; 
              font-family: "Gill Sans", sans-serif;
              padding: 2px;
              padding-left: 4px;
              padding-right: 4px;
            }
#submit-btn { text-align: center; margin-top: 5px;}
#read        { margin-bottom: 0px;}

/* create.html style elements */
.form_body     { display: grid; grid-template-areas:
                "notes_header map_header"
                "notes  map"
                "articles articles";
                grid-template-columns: 1fr 1fr; gap: 1%;
                width: 95%; border: 1px; }
.notes_header     { grid-area: notes_header; }
.map_header       { grid-area: map_header }
.notes            { grid-area: notes; }
.map              { grid-area: map; }
.articles         { grid-area: articles; }
.save_info        { visibility: hidden; }

/* index.html style elements*/
.existing      { margin: 0;}